################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SqlInformationSolution/v15
/.vs/config
/SqlInformationSolution.sln.DotSettings.user
