@{
    var foo = 123;
}

<div class="text-center">
    <h3 class="display-4">SQL QueryBuilder</h3>
</div>
<br />

<div class="row">
    <div class="col-12">
        <div style="" class="card">
            <div class="card-body">
                <div class="form-group">
                    
                    <label for="usr">Query Name:</label>
                    <input data-bind="value:queryName" type="text" class="form-control" placeholder="">
                    <span data-bind="visible:queryName.hasError, text:queryName.errorText" class="text-danger"></span>
                    <br/>
                    <label for="usr">Max Rows Expected:</label>
                    <input data-bind="value:rowsExpectedMax" type="text" class="form-control" placeholder="">
                    <span data-bind="visible:rowsExpectedMax.hasError, text:rowsExpectedMax.errorText" class="text-danger"></span>

                </div>
                <button data-bind="click:onSaveNamedQuery,disable:needsRefresh"  type="button" class="btn btn-sm btn-primary">Save SQL Query</button>
                <div class="btn-toolbar float-right" role="toolbar">
                    
                    <div class="btn-group mr-2" role="group">
                        <button data-bind="click:onRefreshSQL" type="button" class="btn btn-sm btn-secondary mr-1">Refresh Query Statement</button>
                        <button data-bind="click:onGetResult" type="button" class="btn btn-sm btn-secondary mr-1">Run Query (see result in console)</button>
                    </div>

                </div>
                <br/><br/>
                <label for="Email1msg">Generated SQL Query:</label><label data-bind="visible:needsRefresh">&nbsp;<mark>(click Refresh Query Statement above to reflect changes that you made below)</mark></label>
                <textarea class="form-control" rows="3" readonly="readonly" data-bind="value: sqlSelectStatement()"></textarea>
                <span data-bind="visible:sqlSelectStatement.hasError, text:sqlSelectStatement.errorText" class="text-danger"></span>
            </div>

        </div>
    </div>
</div><br /><br/>

<div data-bind="foreach: $root.queryTables">
    
    <div data-bind="template: { name: 'querytables-template' }"></div>&nbsp;<br/>
    
    @* knockout.js template *@
    <script type="text/html" id="querytables-template">
        <div class="row">
            <div class="col-12">
                <div class="card" data-bind="css: { 'card-query-related': isJoinedQueryTable, 'card-query-base': isPrimaryQueryTable }">

                    <div class="card-header" style="background-color: lightskyblue">
                        <strong><span style="width:50%;float:left;" data-bind="text: queryTitle"></span></strong>
                        @*SPECIAL TOOLS FOR JOINED TABLE(S) ONLY*@
                        <div data-bind="visible:isJoinedQueryTable">
                            <span class="pull-right" data-bind="">
                                <select class=""><option>INNER JOIN</option><option>LEFT OUTER JOIN</option><option>RIGHT OUTER JOIN</option><option>FULL JOIN</option></select>
                            </span>
                            <span class="pull-right">
                                <input class="form-check-input" type="checkbox" data-bind="checked:excludeFromQuery">&nbsp;exclude from query&nbsp;&nbsp;
                            </span>
                        </div>
                    </div>

                    <div data-bind="visible: isPrimaryQueryTable" class="card-body">
                        <span>Click a column header to remove it from the query projection. Add optional query conditions for this table then click <strong>Refresh Query Statement</strong> (see above) to reflect modifications.</span>
                    </div>
                    <table class="table table-striped table-bordered" style="width:100%;" data-bind="attr: {id: queryId}">
                        <thead><tr></tr></thead>
                    </table>
                    <input data-bind="textInput:queryConditions" class="form-control-sm" style="width:100%" placeholder="add optional query conditions here" type="text" />
                </div>
            </div>
        </div>
    </script>
</div>

